body {
  margin: 0px;
  overflow: hidden;
  /* https://www.transparenttextures.com/ */
  background-color: #ffffff;
  background-image: url("/images/little-pluses.png");
  background-attachment: fixed;
}

.hidden {
  visibility: hidden;
}

#soccer-ball-viewer {
  height: 100vh;
  width: 100vw;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.blur {
  filter: blur(2px);
}

.grab-cursor {
  cursor: grab;
}

.grab-cursor:active {
  cursor: grabbing;
}

.center-square {
  height: 100vmin;
  width: 100vmin;
  left: 50%;
  top: 50vh;
  transform: translate(-50%, -50%);
  position: absolute;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

#loading-symbol {
  z-index: 1;
}

#loading-symbol-svg > circle {
  transform-origin: center;
  animation: rotate 0.8s linear infinite;
}

#soccer-ball-background {
  z-index: -1;
  background: radial-gradient(circle, rgba(119, 119, 119, 0.5) 0%, rgba(0, 0, 0, 0) 70%);
}

.soccer-ball-button {
  z-index: 1;
  position: absolute;
  cursor: pointer;
  outline: none;
  clip-path: circle(50%);
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.soccer-ball-button.disabled {
  opacity: 0.25;
  cursor: default;
}

.soccer-ball-button > svg > g {
  transform-origin: center;
  transition: transform 0.2s ease-in-out;
}

@media (hover: hover) {
  .soccer-ball-button:not(.disabled):hover > svg > g {
    transform: scale(1.4);
  }
}

#soccer-ball-button-prev:not(.disabled):active > svg > g > path,
#soccer-ball-button-prev:not(.disabled).active > svg > g > path {
  transform: translateX(-2px);
}

#soccer-ball-button-next:not(.disabled):active > svg > g > path,
#soccer-ball-button-next:not(.disabled).active > svg > g > path {
  transform: translateX(2px);
}

#soccer-ball-name {
  width: 100vw;
  z-index: 1;
  position: fixed;
  pointer-events: none;
}

#soccer-ball-name > svg {
  height: 100%;
  width: 100%;
}

@media (min-aspect-ratio: 1) {
  .soccer-ball-button {
    height: max(4rem, 10vh);
    width: max(4rem, 10vh);
    top: 50vh;
    margin-top: calc(max(4rem, 10vh) / -2);
  }
  #soccer-ball-button-prev {
    left: 1rem;
  }
  #soccer-ball-button-next {
    right: 1rem;
  }
  #soccer-ball-name {
    bottom: 0%;
    height: max(4rem, 10vh);
  }
}

@media (max-aspect-ratio: 1) {
  .soccer-ball-button {
    height: max(4rem, 10vw);
    width: max(4rem, 10vw);
    bottom: 0.5rem;
  }
  #soccer-ball-button-prev {
    left: 50%;
    transform: translateX(calc(-100% - 0.5rem));
  }
  #soccer-ball-button-next {
    left: 50%;
    transform: translateX(0.5rem);
  }
  #soccer-ball-name {
    top: 0%;
    height: max(4rem, 10vw);
  }
}
